<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>VirtualMandole - Accorder, jouer et apprendre</title>
</head>

<body>

  <header class="header">
    <div class="logo">
      <div class="logo-title-light">Virtual</div>
      <div class="logo-title-gros">Mandole</div>
      <div class="logo-sub">Accorder, jouer et apprendre</div>
    </div>
    <nav id="nav-menu" class="hidden">
      <ul>
        <li><a href="/play">Jouer</a></li>
        <li><a href="/tunner">Accorder</a></li>
        <li><a href="#">Apprendre</a></li>
        <li><a href="#">À propos</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>


  <main>
    <p>Azul fellawen</p>
  </main>
    

  <footer>
    <p>&copy; 2025 VirtualMandole. Tous droits réservés.</p>
    <p>Conçu avec ❤️ pour faciliter votre expérience.</p>
  </footer>

  <script src="../static/js/app-new.js"></script>
</body>

</html>